.productlist{
    padding: 0 ;
    
    margin: 1rem auto;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

}