.inputs{
    display: block;
    border:none;
    border-radius: var(--radius);
    height: 3rem;
    padding: 0 1rem;
    background-color: var(--gray-1);
}
.inputs:focus{
    border: .125rem solid var(--gray-4)
}