.title1{
    font-size: 6.35rem ;
    font-weight: 500;

}
.title2{
    font-size: 3.75rem ;
    font-weight: 500;

}
.title3{
    font-size: 1.1875rem;
    font-weight: 700;
    font-family: var(--font-secundary);
}

.price{
    font-size: 1.125rem;

}


.paragraph{
    font-family: var(--font-secundary);
    font-size: 1.125rem;
}