

.font_title_1{
    font-weight: bold;
    font-size: 26px;
}
.font_title_2{
    font-weight: bold;
    font-size: 22px;
}
.font_title_3{
    font-weight: bold;
    font-size: 18px;
}
.font_headline{
    font-weight: regular;
    font-size: 14px;
}
.font_body{
    font-weight: normal;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}
.font_body600{
    font-weight: 600;
    font-size: 14px;
}
.font_caption{
    font-weight: regular;
    font-size: 12px;
}

