.buttons{
    border: none;
    background-color: var(--color-primary);
    color: var(--gray-1);
    padding: .8125rem 1.25rem;
    border-radius:var(--radius);
    border: .125rem solid var(--color-primary);
    font: var(--title-3);
}
.buttons:hover{
    background-color: var(--color-primary-2);
}