@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font: var(--font-family);
  background-color: var(--gray-4);
  color: var(--gray-0);
}
:root {
  --color-primary: #ff577f;
  --color-primary-focus: #ff427f;
  --color-primary-negative: #59323f;
  --gray-4: #121214;
  --gray-3: #212529;
  --gray-2: #343b41;
  --gray-1: #868e96;
  --gray-0: #f8f9fa;
  --font-family: normal small-caps normal 12px/1.5 "Inter", sans-serif;
  --title-1: normal small-caps bold 18px/1.5 "Inter", sans-serif;
  --title-2: normal small-caps bold 16px/1.5 "Inter", sans-serif;
  --headlineBold: normal small-caps bold 12px/1.5 "Inter", sans-serif;
  --paragraph: normal small-caps normal 16px/1.5 "Inter", sans-serif;
}
.container {
  margin: 1rem 0;
}
