@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("./reset.css");

:root {
  /* GRAY SCALE */
  --color-gray-100: #15171a;
  --color-gray-300: #2b2f33;
  --color-gray-500: #ced4da;
  --color-gray-700: #fdfeff;

  --font-family-primary: "Poppins", sans-serif;


  --color-fav-icon: #ffd000;
}

.dark-mode:root{
  --color-gray-700: #15171a;
  --color-gray-500: #2b2f33;
  --color-gray-300: #ced4da;
  --color-gray-100: #fdfeff;

  --color-fav-icon: #fbff00;
}

.dark-mode body{
  background-image: url(../assets/imgs/pokemonDarkBackground.webp);
}



body {
  font-family: var(--font-family-primary);
  color: var(--color-gray-700);

  background-image: url(../assets/imgs/pokemonBackground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding-inline: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
